@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}
:root {
  --maincolor: #9eff00;
  --backgroundcolor: #191919;
  --sectionborder: 1px solid #262626;
}
body {
  background-color: var(--backgroundcolor);
}
.container {
  width: 83%;
  margin: auto;
}
.navbar {
  width: 100%;
  background-color: var(--backgroundcolor);
  border-bottom: var(--sectionborder);
}
.navbar .container {
  display: flex;
  padding: 20px 0px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
.navbar .container .logo {
  width: 10%;
  display: flex;
  align-items: center;
}
.navbar .container ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.navbar .container ul li {
  list-style-type: none;
}
.navbar .container ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: all 1s;
}
.navbar .container .active {
  background-color: #262626;
  border-radius: 8px;
  padding: 14px 28px;
}
.navbar .container ul a:hover {
  background-color: #262626;
  border-radius: 8px;
  padding: 14px 28px;
}
.navbar .container input {
  background-color: var(--maincolor);
  color: black;
  font-size: 18px;
  border-radius: 8px;
  padding: 16px 24px;
  cursor: pointer;
  transition: all 1s;
  border: none;
  outline: none;
}
.navbar .container input:hover {
  color: var(--maincolor);
  background-color: var(--backgroundcolor);
  border: 1px solid var(--maincolor);
}
/* ----------------------------------------- */
.hero {
  background-image: url(../img/Abstract\ Design.png);
  background-size: 83% 55%;
  background-repeat: no-repeat;
  background-position: bottom;
  border: none;
  overflow: hidden;
  outline: none;
}
.hero .container {
  background-image: url(../img/Hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -7px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: var(--sectionborder);
  border-top: none;
}
.hero .container .txt {
  padding-top: 112px;
  font-size: 58px;
  width: 44%;
  text-align: center;
  color: white;
}
.hero .container .list {
  background-color: #1b1b1b;
  padding: 24px 40px;
  margin: 40px 0px 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6;
  border-radius: 12px;
  border: var(--sectionborder);
}
.hero .container .list p {
  color: #98989a;
  font-size: 22px;
  padding: 0px 3px;
}
.hero .container .list h5 {
  font-size: 22px;
  color: white;
  padding: 12px 14px;
  background-color: #262626;
  border-radius: 8px;
}
.hero .container .btn {
  margin-bottom: 274px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
.hero .container .btn1 {
  background: rgb(36, 36, 36);
  color: white;
  font-size: 18px;
  border-radius: 8px;
  padding: 18px 28px;
  cursor: pointer;
  transition: all 1s;
  border: 1px solid #333;
  outline: none;
}
.hero .container .btn1:hover {
  color: var(--maincolor);
  background-color: var(--backgroundcolor);
  border: 1px solid var(--maincolor);
}
.hero .container .btn2 {
  background-color: var(--maincolor);
  color: black;
  font-size: 18px;
  border-radius: 8px;
  padding: 18px 28px;
  cursor: pointer;
  transition: all 1s;
  border: none;
  outline: none;
}
.hero .container .btn2:hover {
  color: var(--maincolor);
  background-color: var(--backgroundcolor);
  border: 1px solid var(--maincolor);
}
/* ----------------------------------------------- */
.footer-section .container {
  margin-top: 0px;
  border: var(--sectionborder);
  position: relative;
}
.footer-section .container .imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  cursor: pointer;
  gap: 20px;
  margin: 40px 0px;
}
.footer-section .container .imgs img{
padding: 20px 40px;
}
.footer-section .container .abs {
  position: absolute;
  top: -33px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-section .container .abs p {
  font-size: 18;
  background-color: #1a1a1a;
  color: white;
  padding: 20px 34px;
  border: 1px solid #262626;
  border-radius: 100px;
}
/* ----------------------------------------------- */
.OurServices {
  width: 100%;
}
.OurServices .container {
  border: var(--sectionborder);
  border-top: none;
}
.OurServices .container .image-section {
  background-image: url(../img/Text\ Container.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 120px 0px;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  z-index: 1;
}
.OurServices .overlay {
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.OurServices .container h3 {
  font-size: 48px;
  padding-bottom: 14px;
  z-index: 3;
}
.OurServices .container p {
  font-size: 18px;
  z-index: 3;
  padding-bottom: 30px;
}
.OurServices .container .icon-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  position: relative;
}
.OurServices .container .icon-section .icons {
  width: 33.33%;
  padding: 50px;
  border: var(--sectionborder);
}
.OurServices .container .icon-section .icons .icon {
  border-radius: 10px;
  margin-bottom: 30px;
  width: 88px;
  border: 1px solid #2e2e2e;
  background: linear-gradient(
      229deg,
      rgba(158, 255, 0, 0.2) -68.25%,
      rgba(158, 255, 0, 0) 32.16%
    ),
    linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
}
.OurServices .container .icon-section .icons .icon {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.OurServices .container .icon-section .icons .txt {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 260px;
}
.OurServices .container .icon-section .icons .txt h3 {
  font-size: 30px;
}
.OurServices .container .icon-section .icons .txt p {
  font-size: 18px;
}
.OurServices .container .icon-section .icons input {
  background-color: #262626;
  font-size: 18px;
  border: var(--sectionborder);
  border-radius: 8px;
  color: white;
  padding: 18px calc(70% - 170px);
  margin: 80px 0px 50px 20px;
  cursor: pointer;
  transition: all 1.5s;
}
.OurServices .container .icon-section .icons input:hover {
  background-color: var(--backgroundcolor);
  color: var(--maincolor);
  border-color: var(--maincolor);
  padding: 18px calc(70% - 150px);
}
/* -------------------------------------------- */
.chooseus .container .txt {
  position: relative;
  background-image: url(../img/chooseus.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.chooseus .txt h3 {
  color: white;
  font-size: 46px;
  padding-bottom: 14px;
}
.chooseus .txt p {
  color: white;
  font-size: 18px;
}
.chooseus .cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.chooseus .cards .card {
  width: 50%;
  border: var(--sectionborder);
}
.chooseus .cards .card .tag {
  display: flex;
  align-items: center;
  margin: 80px 0px 40px 80px;
  gap: 15px;
}
.chooseus .cards .card .tag img {
  border-radius: 10px;
  padding: 24px;
  border: 1px solid #2e2e2e;
  background: linear-gradient(
      229deg,
      rgba(158, 255, 0, 0.2) -68.25%,
      rgba(158, 255, 0, 0) 32.16%
    ),
    linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
}
.chooseus .cards .card .tag h3 {
  color: white;
  font-size: 26px;
  color: var(--grey-90, #e6e6e6);
}
.chooseus .cards .card p {
  color: #e6e6e6;
  margin: 0px 80px;
  margin-bottom: 80px;
}
/* ----------------------------------------------------------------- */
.contact .imgb {
  background-image: url(../img/contact-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 120px 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .overlay {
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.contact .imgb h3 {
  font-size: 48px;
  color: white;
  padding-bottom: 14px;
  z-index: 3;
}
.contact .imgb p {
  color: white;
  text-align: center;
  z-index: 3;
}
.contact .cards {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.contact .cards .card {
  width: 50%;
  padding: 100px 80px;
  border: var(--sectionborder);
}
.contact .cards .card h3 {
  color: #d8ff99;
  font-size: 28px;
  margin-bottom: 24px;
  height: 85px;
}
.contact .cards .card p {
  color: white;
  padding-bottom: 40px;
  margin-bottom: 82px;
  height: 80px;
}
.contact .cards .card .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: var(--sectionborder);
  border-radius: 8px;
}
.contact .cards .card .item .profile {
  display: flex;
  justify-content: left;
  gap: 18px;
  align-items: center;
}
.contact .cards .card .item .profile .txt {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.contact .cards .card .item .profile .txt h6 {
  font-size: 20px;
  color: white;
}
.contact .cards .card .item .profile .txt p {
  color: white;
  padding: 0px;
  margin: 0px;
  height: auto;
}
.contact .cards .card .item a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 18px 20px;
  border: var(--sectionborder);
  border-radius: 8px;
  background-color: #262626;
  transition: 1s all;
}
.contact .cards .card .item a:hover {
  color: var(--maincolor);
  padding: 18px 22px;
  border: var(--sectionborder);
  border-color: var(--maincolor);
  border-radius: 8px;
  background-color: #262626;
}
/* ----------------------------------------------------------- */

.fag-bg .container .imgb {
  background-image: url(../img/faq-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 120px 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fag-bg .imgb .overlay {
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.fag-bg .container .imgb h3 {
  color: white;
  font-size: 48px;
  padding-bottom: 10px;
  z-index: 2;
}
.fag-bg .container .imgb p {
  color: #e6e6e6;
  font-size: 18px;
  z-index: 2;
}
/* ----------------------- */
.fag-bg .questions{
  width: 100%;
  display: flex;
}
.fag-bg .questions .column{
width: 50%;
border: var(--sectionborder);
padding:80px 0px;
height:42rem;
}
.fag-bg .questions .column .question{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding:30px 50px;
  width: 100%;
  border-top: var(--sectionborder);
  border-bottom: var(--sectionborder);
  height: 120px;
  overflow: hidden;
  transition:all 0.6s;
}
.fag-bg .questions .column .question  .number{
font-size: 26px;
font-weight: 600;
padding:20px;
color: white;
border-radius: 12px;
border: 1px solid #242424;
background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0.00) 100%);
border-bottom: none;
}
.fag-bg .questions .column .question  h3{
  font-size: 22px;
  width:80%;
  color: white;
  transition:all 1s;
}
.fag-bg .questions .column .question  .plus{
font-size: 50px;
color: white;
transition:all 1s;
}
.fag-bg .questions .column .question .show{
margin-top: 20px;
color: white;
transition:all 1s;
}
.fag-bg .questions .column .question:hover{
  height: 200px;
}
.fag-bg .questions .column .question:hover .plus{
transform: rotate(405deg);
color: var(--maincolor);
}
.fag-bg .questions .column .question:hover .number{
  color: var(--maincolor);
}
.fag-bg .questions .column .question:hover h3{
  color: var(--maincolor);
}
/* ----------------------------------------------------------- */
.interest .container{
  border: var(--sectionborder);
}
.interest .container .imgb{
  background-image: url(../img/interest.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 120px 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interest .imgb .overlay {
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.interest .container .imgb img {
  z-index: 2;
  margin-bottom: 50px;
}
.interest .container .imgb h3 {
  color: white;
  font-size: 48px;
  padding-bottom: 14px;
  z-index: 2;
}
.interest .container .imgb p {
  color: #e6e6e6;
  font-size: 18px;
  z-index: 2;
  margin-bottom: 50px;
}
.interest .container .imgb a {
  z-index: 2;
  font-size: 18px;
  font-weight: 600;
  padding: 18px 34px;
  border-radius: 8px;
  background-color: var(--maincolor);
  text-decoration: none;
  transition: all 0.6s;
}
.interest .container .imgb a:hover {
padding: 18px 36px;
color: var(--maincolor);
background-color: var(--backgroundcolor);
border: 1px solid var(--maincolor);
}
/* -------------------------------- */
.interest .container form{
  width:calc(100% - 536px);
  margin: auto;
  border: var(--sectionborder);
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.interest .container form .txt1{
width: 48%;
border-radius: 8px;
padding: 24px 40px;
border: 1px solid var(--grey-15, #262626);
background: rgba(36, 36, 36, 0.50);
display: flex;
flex-direction: column;
gap:20px;
align-items:flex-start;
justify-content: center;
margin-bottom: 40px;
}
.interest .container form .txt1 p{
color: white;
}
.interest .container form .txt1 input{
width: 100%;
outline: none;
color: #656567;
background: none;
border: none;
border-bottom:1px solid #656567 ;
}
.interest .container form .checkbox{
  border-radius: 8px;
  width: 100%;
  border: 1px solid var(--grey-15, #262626);
  background: rgba(36, 36, 36, 0.50);
  padding: 40px;
}
.interest .container form .checkbox p{
color: white;
font-size: 22px;
margin-bottom: 40px;
}
.interest .container form .checkbox .card{
width: 100%;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
row-gap: 25px;
}
.interest .container form .checkbox .card .card1{
width: 50%;
display: flex;
justify-content: left;
align-items: center;
gap: 20px;
}
.interest .container form .checkbox label{
font-size: 18px;
color: white;
display: flex;
align-items: center;
}
.interest .container form .checkbox .card1 input{
  position: relative;
  background-color: var(--backgroundcolor);
  color: var(--maincolor);
  width: 28px;
  height: 28px;
  border: var(--sectionborder);
  border-radius: 5px;
}
.interest .container form .checkbox .card1 input::before{
  content: "";
  background-color: var(--backgroundcolor);
  position: absolute;
  width: 100%;
  cursor: pointer;
  height: 100%;
}
.interest .container form .checkbox .card1 input:checked:after{
  content: "\f00c";
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Font Awesome 6 free";
  font-weight: 600;
  font-size: 20px;
  top: 5px;
  color: var(--maincolor);
  background:none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.interest .container form .budget{
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 8px;
  width: 100%;
  border: 1px solid var(--grey-15, #262626);
  background: rgba(36, 36, 36, 0.50);
  padding: 40px;
  padding-bottom: 60px;
}
.interest .container form .budget h3{
font-size: 22px;
color: white;
padding-bottom: 14px;
}
.interest .container form .budget p{
color:#e6e6e6 ;
margin-bottom: 40px;
}
.interest .container form .budget .bg{
position: relative;
width: 100%;
height: 1px;
border: 2px solid #262626;
}
.interest .container form .budget .bg::before{
  position: absolute;
  bottom: -32px;
  left: 35px;
  content: "1000$";
  color: white;
  background:none;
}
.interest .container form .budget .bg::after{
  position: absolute;
  bottom: -32px;
  right: 380px;
  content: "5000$";
  color: white;
  background:none;
}
.interest .container form .budget .bbg{
position: absolute;
top: -3px;
left: 50px;
right: 400px;
border: 2px solid var(--maincolor);
}
.interest .container form .budget .bbg::before{
  position: absolute;
  top: -12px;
  left: -4px;
  content: "\f111";
  font-size: 10px;
  font-family: "Font Awesome 6 free";
  color: var(--maincolor);
  background-color: var(--maincolor);
  border: 7px solid #4C4C4D;
  border-radius: 50%; 
}
.interest .container form .budget .bbg::after{
  position: absolute;
  top: -12px;
  right: -4px;
  content: "\f111";
  font-size: 10px;
  font-family: "Font Awesome 6 free";
  color: var(--maincolor);
  background-color: var(--maincolor);
  border: 7px solid #4C4C4D;
  border-radius: 50%; 
}
.interest .container form .message{
  margin-bottom: 40px;
  border-radius: 8px;
  width: 100%;
  border: 1px solid var(--grey-15, #262626);
  background: rgba(36, 36, 36, 0.50);
  padding: 40px;
  padding-bottom: 60px;
}
.interest .container form .message h3{
  font-size: 22px;
  color: white;
  padding-bottom: 14px;
  }
.interest .container form .message input{
color:#656567;
outline: none;
border: none;
background: none;
width: 100%;
border-bottom: var(--sectionborder);
}
.interest .container form .submitt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.interest .container form .submitt input{
  font-size: 18px;
  color: black;
  background-color: var(--maincolor);
  padding: 18px 40px;
  border-radius: 8px;
  transition: all 0.6s;
}
.interest .container form .submitt input:hover{
  color: var(--maincolor);
  background-color: var(--backgroundcolor);
  padding: 18px 42px;
  border-color: var(--maincolor);
  cursor: pointer;
}